.list-container{
    display: flex;
    width: 30%;
}
.main-row{
    display: flex;
  justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.submenu{
    color: black;
    list-style: none;
    li{
        margin-top: 10px;
    }
    li a{
        text-decoration: none;
        color: rgb(180, 182, 184);
       
        
    }
    h3{
        color: brown;
    }
}
.title{
   
    a{
        text-decoration: none;
        color: rgb(180, 182, 184);
        margin:10px;
       
        
    }
}