.content-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
    // background-color: #A6A8AA;
    border-radius: 10px;
  //  opacity: .7;
 
  


}
.text-content{
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "PublicSans",sans-serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
 
}
.card-body {
    // background-color: rgb(170, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    padding: 10px;
    margin: 10px;
    border-right: 1px solid rgb(31, 29, 29);
  h5{
    color: rgb(114, 105, 233);
  }
  img{
    background-color: #c3c4c5;
    border-radius: 50%;
  }
}
// .card-body :not(:last-child){

// }
.card-title{
    font-weight: 800;
    font-size: larger;
}
@media (max-width: 700px) {
  .content-item{
    flex-direction: column;
  }
  .card-body{
    border-bottom: 1px solid black;
    border-right: 0px ;
  }
}